@model StudentTitleVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2>Student Course Info</h2>

<p>
    <b>First Name:</b> @Model.FirstName
</p>


<br />

<p>
    <b>Course Title:</b> @Model.Title
</p>

<a asp-controsller="student" asp-action="Login">Main Menu</a>